body
{
  background: linear-gradient(180deg, #E4C2FF, #FFFFFF);
  background-repeat: no-repeat;
}

.filter-label-selected
{
  font-weight: bold;
  background-color: #c1cf19;
  color: #FFFFFF;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 20px;
}

.subHeading
{
  text-align: center;
  font-style: normal;
}

.filterContainer
{
  text-align: center;
  font-size: large;
}

.listStyle
{
  list-style-type: none;
}

.listItemStyle
{
  background-color: #FFFFFF;
  border-radius: 4px;
  padding: 16px;
  margin: 10px;
  box-shadow: 5px 5px #a1a1a145;
}